*.log
*.pot
*.pyc
__pycache__/
local_settings.py
prod_settings.py
db.sqlite3
db.sqlite3-journal


# Environments
.env
.venv
venv
env/
venv/

media
dist
log/debug.log


**/migrations/**
!**/migrations
!**/migrations/__init__.py
*backend/*/migrations/*
!*backend/*/migrations
!*backend/*/migrations/__init__.py


*/__pycache__/
*.py[cod]
.pyc

/media
media/*
!*media
